/**** ./center_popups.css ***/
/* force popups to be centered on the screen. */

.ui-dialog,
.ui-popup {
    height: auto!important;
    width: auto!important;
    position: fixed!important;
    top: 50vh!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    min-width: 200px!important;
}
