/***** MOBILE *****/
body.dashMobile section.dashCategory div.row.divider:first-of-type {
    display: none;
}

table.mobileitem{
    width: 100%;
    padding: 0;
    margin-top:20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
table.mobileitem > thead > tr {
	background: none;
}
table.mobileitem > thead > tr > th:first-of-type{
    font-family: main-font-bold;
    flex-grow:1;
}

table.mobileitem .status > span > span{margin-right:7px;}

.mobileitem th{
    box-shadow: none;
    display:inline;
    text-shadow: none;
    background: var(--main-border-color);
    color: var(--main-text-color);
}
.mobileitem tr{
    background: var(--main-item-bg-color);
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.mobileitem tr:hover {
    background: var(--main-item-bg-color);
}
.mobileitem td{
    display: inline-flex;
    color: var(--main-text-color);
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center; 
    padding:5px!important;
    min-height:35px;
    border-color: var(--main-bg-color);
}

.mobileitem td:last-child{
    font-family: main-font-bold;   
}
.mobileitem td label{
    white-space: nowrap;
    height:50%;
}
body.dashMobile table.mobileitem td#name,
body.dashMobile table.mobileitem td.name{
    font-size: 100%;
    position: inherit;
    padding:0 0 0 10px!important;
    height:auto;
    min-height:30px;
}
body.dashMobile table.mobileitem td#name img,
body.dashMobile table.mobileitem td.name img{
    margin-right:10px;
    vertical-align: middle;
}
.mobileitem .btn-mini{
    margin-left: 2px;
    font-family: main-font-bold;
    text-shadow: none;
}
#dashcontent .mobileitem .dimslider{
  border: none;
  border-radius: 3px;
  box-shadow: none;
  height: 5px;
}
#dashcontent .mobileitem .dimslider .ui-slider-range{
  background: rgba(11, 151, 205, 0.5);
}
#dashcontent .mobileitem .dimslider .ui-slider-handle{
  width: 15px;
  height: 15px;
  background: var(--main-blue-color);
  border-radius: 50%;
  top: -6px;
}
#dashcontent .mobileitem td#status,
#dashcontent .mobileitem td.status{
    max-width:60%;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: end;
}
