#holder .row .item table[id^="item"] > tbody > tr.with-cam-preview {
    background-size: cover;
    background-position: center;
    grid-template-rows: 40px 40px 40px !important;
}
#holder .row .item table[id^="item"] > tbody > tr.with-cam-preview > #name {
    background: rgba(255,255, 255, 0.2);
    border-bottom-right-radius: 5px;
    width: 100%;
}
