#type .dimslider,
.input .dimslider,
.statusNormal .dimslider,
.statusProtected .dimslider {
  background: rgba(0, 0, 0, 0.26);
  border: none;
  box-shadow: none;
  height: 5px;
  bottom: 50px;
  right: 20px;
  width: 55% !important;
}
#type .dimslider .ui-slider-range,
.input .dimslider .ui-slider-range,
.statusNormal .dimslider .ui-slider-range,
.statusProtected .dimslider .ui-slider-range {
  background: rgba(11, 151, 205, 0.5);
}
#type .dimslider .ui-slider-handle,
.input .dimslider .ui-slider-handle,
.statusNormal .dimslider .ui-slider-handle,
.statusProtected .dimslider .ui-slider-handle {
  width: 15px;
  height: 15px;
  background: #0b96cd;
  border-radius: 50%;
  top: -6px;
}

@media (min-width: 1200px) {
  #type .dimslider, .input .dimslider {
    width: 260px !important;
  }

  #itemtabledoubleicon .dimslider,
#itemtablesmalldoubleicon .dimslider {
    width: 230px !important;
  }
}
