/* common features */
.item table {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    display: block;
    min-height: 100px;
}

.item tr {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

// crutch to overwrite style.css
body table#itemtable tbody tr{
    background: transparent;
    margin: 0;
    padding: 0;
}

/* name */
.item #name {
	background-color: transparent !important;
}

@media (min-width: 1200px) {
	.item #name {
		font-size: 16px;
	}
}

/* bigtext */
.item #bigtext {
    color: #0b96cd;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 40px;
}

@media (min-width: 980px) {
    .item #bigtext {
		font-size: 27px;
		top: 10px;
    }

}

@media (min-width: 1200px) {
	.item #bigtext {
		top: 18px;
		right: 60px;
    }

}

/* last update */
.item #lastupdate {
	color: gray;
	position: absolute;
    right: 10px;
	bottom: 5px;
	
	&::before {
		content: 'Last Seen: ';
	}
}

@media (min-width: 1200px) {
	.item #lastupdate {
		right: 20px;
		bottom: 15px;
	}

}

/* type */

.item #type {
	color: gray;
	margin-top: 3px;
}

/* item subnav applying by click*/
.options__bars {
    display: block;
    position: absolute;
    top: 16px;
    height: 20px;
    right: 20px;
    z-index: 2;
    overflow: hidden;
	width: 6px;
	
	&::before {
		display: block;
		color: gray;
		content: '\2807';
		font-size: 20px;
		cursor: pointer;
	}
}

body table#itemtable tr > .options {
	display: none; // overriding crutch
    padding: 8px;

}

.options{
    position: absolute;
    background: white;
    border-radius: 5px;
    right: 5px;
    top: 8px;
	box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.2);
	z-index: 1;
	display: none;
	padding: 8px;
	
	.btnsmall-sel {
		width: auto;
		background-color: transparent;
		color: inherit;
		margin: 0;
		padding: 0;
	}
	.btnsmall {
		padding: 1px 0;
	}
}

@media (min-width: 1200px) {
	.options__bars {
		top: 25px;
	}

	.options {
        top: 16px;
    }

}

/* images */
@mixin item-image($left) {
	order: 1000;
    margin-bottom: 0;
    position: absolute;
    left: $left;
	bottom: 15px;

	img {
		height: auto;
	}
}
.item .img,
.item #img {
	@include item-image(20px);
}

// .item .img1,
.item #img1 {
	@include item-image(20px);
	width: 30px;
}

#itemtabledoubleicon,
#itemtablesmalldoubleicon {
	#img2 img {
		width: 30px;
	}
}

.item #img2 {
	@include item-image(72px);
}

.item .img3,
.item #img3 {
	@include item-image(100px);
}

/* item with button group */
#type,
.input {
	.btn-group {
		position: absolute;
		right: 20px;
		bottom: 40px;
	}
}


/* dashboard items */
#dashcontent .item #lastupdate {
    left: 20px;
	top: 40px;
	right: auto;
	bottom: auto;
}

/* temperature, weather items */

@mixin status-and-type($top, $before) {
	position: absolute;
	right: 20px;
	top: $top;
	width: 60%;
	text-align: right;
	margin-top: 0;

	&::before {
		content: $before;
	}

	&:empty::before,
	& > span:empty::before {
		content: '';
	}

}

dztemperaturewidget,
dzweatherwidget {

	.item #name {
		font-size: 20px;
	}

	.item #bigtext {
		color: inherit;
		left: 20px;
		top: 45px;
		font-size: 17px;
	}

	#status {
		@include status-and-type(60px, 'Status: ');
	}

}

/* utility items */

#utilitycontent {

	.item #name {
		font-size: 20px;
	}

	.item #bigtext {
		color: inherit;
		left: 20px;
		top: 45px;
		font-size: 17px;
	}

	#type {
		@include status-and-type(60px, 'Type: ');
	}

	#status {
		@include status-and-type(80px, 'Status: ');
	}	
}

/* scene items */

#scenecontent {

	#type {
		@include status-and-type(60px, 'Type: ');
	}

	#status {
		@include status-and-type(80px, '');
	}
}