/* Settings page CSS */
#machinoSettings {
    padding: 0 20px;
}
.mHeaderBtn {
  margin-left:50%;
  margin-top: -1.8%;
  margin-bottom: 20px;
  display: -webkit-flex;
  display:flex;
  justify-content:space-around
}
.mHeaderBtn li {
  padding: 5px 20px;
  margin: 0 0 3px 0;
  height: 30px;
  border-radius: 2px;
  background-color: var(--main-border-color);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
.mHeaderBtn li:hover {
    background-color:rgba(169,169,169,0.5);
}
.mHeaderBtn li div {
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #000;
  margin-left:10px;;
}
.rectangle-8, .rectangle-8-dropdown {
	border: 1.5px solid;
	border-color: transparent;
	border-radius: 6px;
	background-color: #ffffff;
	cursor: pointer;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	list-style-type: none;
	height: 75px;
	margin-left:20px;
	margin-bottom:20px;
	flex: 1 0 15%;
    display: -webkit-flex;
	display: flex;
	padding:20px;
	justify-content: flex-start;
	align-items:center;

}
.machinoText {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: var(--main-text-color);
  margin-left:20px;
}
.mDropdown-Text {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: left;
  vertical-align: middle;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.mDropdown-Text:hover {
	color: rgba(0,0,0,0.5);
	cursor: pointer;
}
.machinon_ul {
  display: -webkit-flex;
  display:         flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  margin: 0;
}
.machinon_ul img {
	/*proprieté flex*/
}
ul.machinon_ul li {
	padding: 5px 40px;
	margin: 0 20px 23px 0;
}
.machinon_ul li:hover { 
    border-color: var(--main-blue-color);
}
.dropdown-content {
    display: none;
    background-color: #fff;
    min-width: 160px;
    border: 1px solid var(--main-blue-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    position:absolute;
}

.rectangle-8-dropdown:hover .dropdown-content {
    display: block;
}
@media all and (max-width: 1200px){
	.mHeaderBtn {
		display: block;
        margin-right: 20px;
	}
}
@media all and (max-width: 600px){
    #machinoSettings {
        padding: 0;
    }
	.mHeaderBtn {
		display: flex;
		margin-left: 0;
		margin-top: 10px;
	}
	.mHeaderBtn li div {
		display: none;
	}
	ul.machinon_ul {
	    margin: 0 0 10px 5px;
	}
    ul.machinon_ul li {
        padding: 5px 40px;
        margin: 0 10px 23px 0;
    }
}
