$light-blue: rgba(11,151,205, 0.5);
$blue: rgb(11,151,205);
$light-off: rgba(0,0,0, 0.7);
$off-color: #ccc;
/* bootstrap switcher */
#bigtext {
}

/* The switch - the box around the slider */
.switch {
	position: absolute;
	display: block;
	width: 60px;
	height: 20px;
	top: 15px;
	right: 40px;

	input {
	    display: none;
	}
}

@media (min-width: 1200px) {
	.switch {
	top: 25px;
	right: 60px;
	}

}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $off-color;
	-webkit-transition: .4s;
	transition: .4s;

	&:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 0;
		bottom: -1px;
		-webkit-transition: .4s;
		transition: .4s;
		background-color: #fafafa;
		box-shadow: 0px 2px 3px 0px $light-off;
	}

	&.round {
		border-radius: 34px;

		&:before {
			border-radius: 50%;
		}
	}
}

input:checked + .slider {
	background-color:$light-blue;

	&:before {
		-webkit-transform: translateX(34px);
		-ms-transform: translateX(34px);
		transform: translateX(34px);
		background-color: $blue;
	}
}

input:focus + .slider {
	box-shadow: 0 0 1px $light-blue;
}