$dimblue: #0b96cd;

#type,
.input,
.statusNormal,
.statusProtected {
	
	.dimslider {
		background: rgba(0,0,0,0.26);
		border: none;
		box-shadow: none;
		height: 5px;
		bottom: 50px;
		right: 20px;
		width: 55% !important;

		.ui-slider-range {
			background: rgba(11, 151, 205, 0.5);
		}

		.ui-slider-handle {
			width: 15px;
			height: 15px;
			background: $dimblue;
			border-radius: 50%;
			top: -6px;
		}
	}
}

@media (min-width: 1200px) {

    #type, .input {
		.dimslider {
			width: 260px !important;
		}
	}

	#itemtabledoubleicon, 
	#itemtablesmalldoubleicon {
		.dimslider {
			width: 230px !important;
		}
	}
}