@charset "UTF-8";
/* common features */
.item table {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  display: block;
  min-height: 100px;
}

.item tr {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body table#itemtable tbody tr {
  background: transparent;
  margin: 0;
  padding: 0;
}

/* name */
.item #name {
  background-color: transparent !important;
}

@media (min-width: 1200px) {
  .item #name {
    font-size: 16px;
  }
}
/* bigtext */
.item #bigtext {
  color: #0b96cd;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 40px;
}

@media (min-width: 980px) {
  .item #bigtext {
    font-size: 27px;
    top: 10px;
  }
}
@media (min-width: 1200px) {
  .item #bigtext {
    top: 18px;
    right: 60px;
  }
}
/* last update */
.item #lastupdate {
  color: gray;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.item #lastupdate::before {
  content: "Last Seen: ";
}

@media (min-width: 1200px) {
  .item #lastupdate {
    right: 20px;
    bottom: 15px;
  }
}
/* type */
.item #type {
  color: gray;
  margin-top: 3px;
}

/* item subnav applying by click*/
.options__bars {
  display: block;
  position: absolute;
  top: 16px;
  height: 20px;
  right: 20px;
  z-index: 2;
  overflow: hidden;
  width: 6px;
}
.options__bars::before {
  display: block;
  color: gray;
  content: "⠇";
  font-size: 20px;
  cursor: pointer;
}

body table#itemtable tr > .options {
  display: none;
  padding: 8px;
}

.options {
  position: absolute;
  background: white;
  border-radius: 5px;
  right: 5px;
  top: 8px;
  box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  padding: 8px;
}
.options .btnsmall-sel {
  width: auto;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
}
.options .btnsmall {
  padding: 1px 0;
}

@media (min-width: 1200px) {
  .options__bars {
    top: 25px;
  }

  .options {
    top: 16px;
  }
}
/* images */
.item .img,
.item #img {
  order: 1000;
  margin-bottom: 0;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.item .img img,
.item #img img {
  height: auto;
}

.item #img1 {
  order: 1000;
  margin-bottom: 0;
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 30px;
}
.item #img1 img {
  height: auto;
}

#itemtabledoubleicon #img2 img,
#itemtablesmalldoubleicon #img2 img {
  width: 30px;
}

.item #img2 {
  order: 1000;
  margin-bottom: 0;
  position: absolute;
  left: 72px;
  bottom: 15px;
}
.item #img2 img {
  height: auto;
}

.item .img3,
.item #img3 {
  order: 1000;
  margin-bottom: 0;
  position: absolute;
  left: 100px;
  bottom: 15px;
}
.item .img3 img,
.item #img3 img {
  height: auto;
}

/* item with button group */
#type .btn-group,
.input .btn-group {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

/* dashboard items */
#dashcontent .item #lastupdate {
  left: 20px;
  top: 40px;
  right: auto;
  bottom: auto;
}

/* temperature, weather items */
dztemperaturewidget .item #name,
dzweatherwidget .item #name {
  font-size: 20px;
}
dztemperaturewidget .item #bigtext,
dzweatherwidget .item #bigtext {
  color: inherit;
  left: 20px;
  top: 45px;
  font-size: 17px;
}
dztemperaturewidget #status,
dzweatherwidget #status {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 60%;
  text-align: right;
  margin-top: 0;
}
dztemperaturewidget #status::before,
dzweatherwidget #status::before {
  content: "Status: ";
}
dztemperaturewidget #status:empty::before, dztemperaturewidget #status > span:empty::before,
dzweatherwidget #status:empty::before,
dzweatherwidget #status > span:empty::before {
  content: "";
}

/* utility items */
#utilitycontent .item #name {
  font-size: 20px;
}
#utilitycontent .item #bigtext {
  color: inherit;
  left: 20px;
  top: 45px;
  font-size: 17px;
}
#utilitycontent #type {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 60%;
  text-align: right;
  margin-top: 0;
}
#utilitycontent #type::before {
  content: "Type: ";
}
#utilitycontent #type:empty::before, #utilitycontent #type > span:empty::before {
  content: "";
}
#utilitycontent #status {
  position: absolute;
  right: 20px;
  top: 80px;
  width: 60%;
  text-align: right;
  margin-top: 0;
}
#utilitycontent #status::before {
  content: "Status: ";
}
#utilitycontent #status:empty::before, #utilitycontent #status > span:empty::before {
  content: "";
}

/* scene items */
#scenecontent #type {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 60%;
  text-align: right;
  margin-top: 0;
}
#scenecontent #type::before {
  content: "Type: ";
}
#scenecontent #type:empty::before, #scenecontent #type > span:empty::before {
  content: "";
}
#scenecontent #status {
  position: absolute;
  right: 20px;
  top: 80px;
  width: 60%;
  text-align: right;
  margin-top: 0;
}
#scenecontent #status::before {
  content: "";
}
#scenecontent #status:empty::before, #scenecontent #status > span:empty::before {
  content: "";
}
