/* bootstrap switcher */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: block;
  width: 60px;
  height: 20px;
  top: 15px;
  right: 40px;
}
.switch input {
  display: none;
}

@media (min-width: 1200px) {
  .switch {
    top: 25px;
    right: 60px;
  }
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0;
  bottom: -1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fafafa;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(11, 151, 205, 0.5);
}
input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
  background-color: #0b97cd;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(11, 151, 205, 0.5);
}
