<!-- Custom setting page for domoticz theme machinon -->

<script>
function CheckForUpdate(showdialog) {
	$.ajax({
		 url: "json.htm?type=command&param=checkforupdate&forced=" + showdialog,
		 async: false,
		 dataType: 'json',
		 success: function(data) {
			var urights=data.statuscode;
			var bDisplayLogout=false;
			if (urights!=3) {
				bDisplayLogout=true;
			}
			else {
				bDisplayLogout=false;
				urights=2;
			}
			window.my_config =
			{
				userrights : urights,
				hasupdatesupport : false
			};
			if (data.HaveUpdate == true) {
				if (showdialog) {
					bootbox.confirm($.t("Update Available !... Update Now?")+"<br>"+$.t('Version')+" #"+data.Revision, function(result) {
						if (result==true) {
							if (data.SystemName=="windows") {
								window.location.href = data.DomoticzUpdateURL;
							}
							else {
								SwitchLayout('Update');
							}
						}
					});
				}
				else {
					ShowUpdateNotification(data.Revision,data.SystemName,data.DomoticzUpdateURL);
				}
				return true;
			}
			else
			{
				if (showdialog) {
					bootbox.alert($.t("No Update Available !..."));
				}
				return false;
			}
		 },
		 error: function(){
				if (showdialog) {
					bootbox.alert($.t("Error communicating to server!"));
				}
				return false;
		 }
	});
	return false;
}
$(".machinoSettings").i18n(); //Make the translation
</script>

<div class="machinoSettings">
	</br>
	<h2 class="mHeader" data-i18n="Settings">Settings</h2>
	<div class="mHeaderBtn">
		<li class="Rectangle" onclick="javascript:SwitchLayout('Restart')"><img src="acttheme/images/settings/restart.png"><div class="machinoHeader" data-i18n="Restart System">Restart System</div></li>
		<li class="Rectangle" onclick="javascript:SwitchLayout('Shutdown')"><img src="acttheme/images/settings/shutdown.png"><div class="machinoHeader" data-i18n="Shutdown System">Shutdown System</div></li>
		<li class="Rectangle" onclick="location.href='#Logout'"><img src="acttheme/images/settings/logout.png"><div class="machinoHeader" data-i18n="Logout">Logout</div></li>
	</div>
	<hr />
	<ul class="machinon_ul">
		<li class="rectangle-8" onclick="location.href='#Hardware'"><img src="acttheme/images/settings/hardware.png"><div class="machinoText" data-i18n="Hardware">Hardware</div></li>
		<li class="rectangle-8" onclick="location.href='#Devices'"><img src="acttheme/images/settings/devices.png"><div class="machinoText" data-i18n="Devices">Devices</div></li>
		<li class="rectangle-8" onclick="location.href='#Setup'"><img src="acttheme/images/settings/setup.png"><div class="machinoText" data-i18n="Settings">Settings</div></li>
		<li class="rectangle-8" onclick="javascript:CheckForUpdate(true)"><img src="acttheme/images/settings/update.png"><div class="machinoText" data-i18n="Update Domoticz">Update Domoticz</div></li>

		<li class="rectangle-8" onclick="location.href='#Cam'"><img src="acttheme/images/settings/cam.png"><div class="machinoText" data-i18n="Cameras">Cameras</div></li>
		<li class="rectangle-8" onclick="location.href='#Users'"><img src="acttheme/images/settings/users.png"><div class="machinoText" data-i18n="Edit Users">Edit Users</div></li>
		<li class="rectangle-8" onclick="location.href='#Events'"><img src="acttheme/images/settings/events.png"><div class="machinoText" data-i18n="Events">Events</div></li>
		<li class="rectangle-8" onclick="location.href='#CustomIcons'"><img src="acttheme/images/settings/icons.png"><div class="machinoText" data-i18n="Custom Icons">Custom Icons</div></li>
		
		<li class="rectangle-8" onclick="location.href='#Mobile'"><img src="acttheme/images/settings/mobile.png"><div class="machinoText" data-i18n="Mobile Devices">Mobile Devices</div></li>
		<li class="rectangle-8-dropdown"><img src="acttheme/images/settings/plan.png"><div class="machinoText" data-i18n="Roomplan">Roomplan</div>
			<div class="dropdown-content">	
				<p><a href="#Roomplan"><div class="mDropdown-Text"><span data-i18n="Roomplan">Roomplan</span></div></a></p>
				<p><a href="#Floorplanedit"><div class="mDropdown-Text"><span data-i18n="Floorplan">Floorplan</span></div></a></p>
				<p><a href="#Timerplan"><div class="mDropdown-Text"><span data-i18n="Timerplan">Timerplan</span></div></a></p>
			</div>
		</li>
		<li class="rectangle-8" onclick="location.href='#UserVariables'"><img src="acttheme/images/settings/uservariables.png"><div class="machinoText" data-i18n="User variables">Uservariables</div></li>
		<li class="rectangle-8" onclick="location.href='secpanel/index.html#{{config.language}}'"><img src="acttheme/images/settings/lock.png"><div class="machinoText" data-i18n="Security Panel">Security Panel</div></li>

		<li class="rectangle-8" onclick="location.href='#Notification'"><img src="acttheme/images/settings/notification.png"><div class="machinoText" data-i18n="Send Notification">Send Notification</div></li>
		<li class="rectangle-8-dropdown"><img src="acttheme/images/settings/datapush.png"><div class="machinoText" data-i18n="Data push">Data push</div>
			<div class="dropdown-content">
				<p><a href="#DPFibaro"><div class="mDropdown-Text">FibaroLink</div></a></p>
				<p><a href="#DPHttp"><div class="mDropdown-Text">HTTP</div></a></p>
				<p><a href="#DPGooglePubSub"><div class="mDropdown-Text">Google PubSub</div></a></p>
				<p><a href="#DPInflux"><div class="mDropdown-Text">InfluxDB</div></a></p>
			</div>
		</li>
		<li class="rectangle-8" onclick="location.href='#Log'"><img src="acttheme/images/settings/log.png"><div class="machinoText" data-i18n="Log">Log</div></li>
		<li class="rectangle-8" onclick="location.href='#About'"><img src="acttheme/images/settings/about.png"><div class="machinoText" data-i18n="About">About</div></li>
	</ul>
</div>

   
